.page-name {
    font-weight: 500;
    font-size: 2.5dvw;

    position: absolute;
    top: 2dvh;
    left: 14dvw;

    transition: all 1s ease;
}

.side-menu-opened {
    left: 24dvw;
    max-width: calc(100dvw - 24dvw - 6.5dvw);
}

@media (max-width: 1200px) {
    .page-name {
        left: 14dvw !important;
    }
}
