.select {
    width: 147px;

    position: absolute;
    right: 8dvw;
    top: 3dvh;

    z-index: 1;
}

.header-menu .select {
    position: relative;
    right: 0;
    top: 0;
}

.select.is-active .select__body {
    display: block;
}

.select__header {
    display: flex;
    align-items: center;

    cursor: pointer;

    height: 44px;
    border-radius: 8px;
}

.hidden {
    display: none;
}

.select__right-part {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
}

.select__flag,
.select__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
}

.select__icon {
    width: 24px;
}

.flag-img {
    height: 20px;
    width: 34px;
}

.arrow-img {
    height: 4px;
    width: 8px;
}

.select__current,
.select__item {
    font-size: 16px;
    line-height: 120%;
    padding: 8px 12px;
}

.select__item {
    box-shadow: 5px 2px 8px 0px rgba(34, 60, 80, 0.2);
}

.select__body {
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
    border-radius: 8px;
    border-top: 0;

    display: none;
}

.select__item {
    line-height: 44px;
    font-size: 16px;
    padding: 0 12px;

    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select__item::after {
    content: "";
    position: absolute;
    bottom: 50%;
    left: 12px;
    width: calc(100% - 24px);
    height: 1px;
    background-color: #d9d9d9;
}

.select__item:hover {
    opacity: 0.6;
}
