.error-line {
    position: fixed;
    display: flex;
    align-items: center;
    width: 200vw;
    background-color: #375fff;
    height: 110px;

    color: white;
    gap: 100px;

    font-weight: 700;
    font-size: 48px;

    border: 1px solid white;
    overflow: hidden;

    z-index: -1;
}

.right-rotation-line {
    transform: rotate(-36deg);
    top: 20%;
}

.left-rotation-line {
    transform: rotate(34deg);
    top: 50%;
    left: -10%;
    z-index: -2;
}

@media (max-width: 1000px) {
    .error-line {
        display: none;
    }
}
