@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

body {
    background-color: #efefef;
    margin: 0;
    padding: 0;

    overflow-x: hidden;
}

.blue {
    background-color: #375fff;
}

.blue-font {
    color: #375fff;
}

.btn {
    height: 60px;
    border-radius: 8px;
    padding: 15px 40px;
    color: white;
    border: 1px solid #ffffff;
    transition: 0.3s ease-in;

    font-size: 16px;
    line-height: 100%;
    letter-spacing: 3%;
}

.btn:hover {
    opacity: 0.8;
}

.btn:active {
    opacity: 0.9;
}

.hidden {
    display: none;
}

.page-container {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 12dvh;
    left: 14dvw;
    width: calc(100dvw - 14dvw - 6.5dvw);

    transition: all 1s ease;
}

.profile-page-small {
    display: none;
    font-weight: 500;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

@media (max-width: 1200px) {
    .page-container {
        left: 6dvw !important;
        width: calc(100dvw - 6dvw - 6.5dvw) !important;
    }

    .profile-page-small {
        display: block;
    }
}
