.error-page-container {
    position: absolute;
    left: 200px;
}

.error-code {
    color: #375fff;
    font-size: 380px;
}

.error-title {
    display: flex;
    align-items: end;
    gap: 68px;

    font-size: 40px;
    font-weight: 500;
}

.error-title__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.error-description {
    display: flex;
    flex-direction: column;
    gap: 28px;
    width: 465px;
    margin-top: 5%;
}
